* {

margin: 0;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white;
}

#header {
 padding: 2em;
  background-color: #42cdc6;
  width: 100%;
}
#logo-main {
  font-size: 2.5em;
}

#logo-title, #logo-main span{
  color: white;
}

#logo-main { display: inline-block; white-space: nowrap; }
#logo-description { font-size: 0.75em; display: inline-block; white-space: nowrap; }

  #menu {
    background-color: #2e2e2e;
    color: white;
    padding: 1em;
  }
  #menu li {
      display: inline-block;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }
  #menu ul {
      list-style-type: none;
      padding: 0;
    }


    #busqueda {
      float: right;
      border-left: none !important;
    }

    #busqueda input {
        border-radius: 0.5em;
    }

#sidebar {
  background-color: #f8f8f8;
  padding: 1em;
}
.sidebar_element {
  width: 100%;
  max-width: 100%;
}
  .sidebar_title {
    font-size: 0.6em;
    font-weight: bolder;

  }
#content {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  padding: 1em;
  padding-top: 0;
}

.card_img img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#ad {
  text-align: center;
  padding: 1em;
}


#main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr
}
.texto {
  margin-top: 3em;
  margin-bottom: 4em;
  list-style-type: none;

}

.titulo-footer {
  font-size: 1.3em;
}
.texto ul {
  padding-left: 0;
  width: 100%;
  max-width: 100%;
}
.texto li {
  margin-top: 4px;
  width: 100%;
  max-width: 100%;
}

#footer {
  color: #aeadb2;
  background-color: #32373a;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr
}
#real-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 600px) {
  #main {
    grid-template-columns: 1fr;
  }
  #content {
    grid-template-columns: 1fr;
  }
  #footer {
    grid-template-columns: 1fr;
  }
  #real-footer {
    grid-template-columns: 1fr;
  }
  #menu li {
    display: block;
  }
}
