* {
  border: 1px solid black;
  margin: 0;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header {
  background-color: #42cdc6;
  height: 10em;
  width: 100%;
}
  #subtitulo {
    color: white;
  }
  #titulo {
    font-size: 2em;
    font-weight: bold;
  }
    #titulo1 {
      color: white;
    }
#menu {
    background-color: #2e2e2e;
    color: white;
  }
  #menu li {
      display: inline-block;
    }
  #menu ul {
      list-style-type: none;
    }

#sidebar {
  background-color: #f8f8f8;
  padding: 1em;
}
.sidebar_element {
  width: 100%;
  max-width: 100%;
}
  .sidebar_title {
    font-size: 0.6em;
    font-weight: bolder;

  }
#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card_img img {
  width: 100%;
  height: 20em;
  max-width: 100%;
}

#ad {
  text-align: center;
}


#main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr
}
.texto {
  margin-top: 3em;
  margin-bottom: 4em;
  list-style-type: none;

}

.titulo-footer {
  font-size: 1.3em;
}
.texto ul {
  padding-left: 0;
  width: 100%;
  max-width: 100%;
}
.texto li {
  margin-top: 4px;
  width: 100%;
  max-width: 100%;
}

#footer {
  color: #aeadb2;
  background-color: #32373a;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr
}
#real-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
